<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Notes : fuleps, buleps is front/back underlay EPS and will format your EPS file to be included
    The fulps, bulps is front/back underlay PS and will wrap the EPS in PS to be used in the output
    This way you can specify where it will put your wrapped eps files
    If you have no underlay, set fuleps, buleps, fulps and bulps to none as below set as default in original config file
    example directories as follows 
    <add key = "fuleps" value = "C:\Projects\converter\resources\testfrontul.eps"/>
    <add key = "buleps" value = "C:\Projects\converter\resources\testbackul.eps"/>
    <add key = "fulps" value = "C:\Projects\converter\resources\frontul.ps"/>
    <add key = "bulps" value = "C:\Projects\converter\resources\backul.ps"/>
     -->
    
    <!--
    <add key = "fuleps" value = "C:\Projects\converter\resources\testfrontul.eps"/>
    <add key = "buleps" value = "C:\Projects\converter\resources\testbackul.eps"/>
    <add key = "fulps" value = "C:\Projects\converter\resources\frontul.ps"/>
    <add key = "bulps" value = "C:\Projects\converter\resources\backul.ps"/>
    -->
    
    <add key = "fuleps" value = "none"/>
    <add key = "buleps" value = "none"/>
    <add key = "fulps" value = "none"/>
    <add key = "bulps" value = "none"/>
    
    
    <!-- Specify line break characters here -->
    <add key = "linechar0" value = "0x0F"/>
    <add key = "linechar1" value = "0x1C"/>

    <!-- Specify page break characters here -->
    <!-- Set to "none" if using linecount -->

    <add key = "pagechar0" value = "0x0D"/>
    <add key = "pagechar1" value = "0x0C"/>

    <!--
    <add key = "pagechar0" value = "none"/>
    <add key = "pagechar1" value = "none"/>
    -->
    
    <!-- Specify line count per page here -->
    <!-- if not using linecount enter 0 -->
    <add key = "linecount" value = "0"/>

    <!-- standard job def info - font, fontsize pagesize x,y in points, xstart, ystart where the text starts, linespacing in points, plex -->
    <add key = "jobfont" value = "Courier"/>
    <add key = "jobfontsize" value = "10"/>
    <add key = "xpoints" value = "612"/>
    <!--<add key = "ypoints" value = "1008"/>-->
    <add key = "ypoints" value = "792"/>
    <add key = "xstart" value = "61"/>
    <add key = "ystart" value = "732"/>
    <!--<add key = "ystart" value = "948"/>-->
    <add key = "linespacing" value= "10"/>
    <add key = "plex" value = "simplex"/>

    <add key = "outputXML" value = "YES"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>